SERVER_PORT=8080
MONGO_URI=mongodb+srv://smartcampushub:smartcampus_hub@cluster0.0yi3gfw.mongodb.net/SmartCampusDB?retryWrites=true&w=majority
GOOGLE_CLIENT_ID=194337731331-kv55hq4n86bln9honk84e7ida235o02f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
JWT_SECRET=SmartCampusSuperSecretKey2026VihangaPAFProject
JWT_EXPIRATION=86400000
VITE_API_BASE_URL=http://localhost:8080/api
VITE_GOOGLE_CLIENT_ID=194337731331-kv55hq4n86bln9honk84e7ida235o02f.apps.googleusercontent.com
